---
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";
import Link from "components/Link.astro";
import StackOverflowFlair from "components/projects/index/StackOverflowFlair.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.endDate.valueOf() - a.data.endDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Projects"
      description="The projects that I have done till date"
    />
  </head>
  <body>
    <Header />
    <main>
      <ul class="flex flex-wrap justify-center gap-4 mx-4 mt-2 mb-8">
        {
          projects.map((project) => (
            <li class="w-full sm:w-auto sm:max-w-sm focus-within:bg-slate-100 hover:bg-slate-100 transition-all">
              <Link
                href={`/projects/${project.slug}/`}
                class="flex flex-col gap-2 group focus-visible:outline-blue-800 text-center"
              >
                <h2 class="order-2">{project.data.title}</h2>
                <div class="order-1 relative flex justify-center items-center">
                  <Image
                    format="png"
                    width={384}
                    height={191}
                    src={`${project.data.rawContentUrl}/documentation/screenshots/1.png`}
                    alt={`${project.data.title} screenshot`}
                    class="w-full h-auto group-focus-visible:brightness-[0.3] group-hover:brightness-[0.3] transition-all"
                  />
                  <p class="absolute text-slate-50 opacity-0 group-focus-visible:opacity-100 group-hover:opacity-100 transition-all">
                    {project.data.description}
                  </p>
                </div>
              </Link>
            </li>
          ))
        }
      </ul>
      <div
        id="gh-calendar"
        class="calendar max-w-screen-md w-4/5 font-sans mb-4"
      >
      </div>
      <StackOverflowFlair />
    </main>
    <Footer />
    <script>
      import GitHubCalendar from "github-calendar";
      import "github-calendar/dist/github-calendar-responsive.css";

      GitHubCalendar(".calendar", "sayandcode", { responsive: true });
    </script>
  </body>
</html>
